@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;

}

body {
    font-family: 'Do Hyeon', sans-serif;
}

header {
    height: 80px;
    background-color: #57606f;
    /* margin-bottom: 20px; */
}

header span {
    line-height: 80px;
    font-size: 35px;
    position: absolute;
    left: 20px;
    color: #f1f2f6;
}
header .star {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 6%;
    top: 2%;
 }
 header .star img {
     width: 100%;
     height: 100%;
 }
 header .star img:hover {
    filter: brightness(1.75);
    cursor: pointer;
 }
 header .star img:active {
    transform: translateY(3px);
 }

 .sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    overflow: auto;
    text-align: left;
    padding: 8px 16px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    /* position:relative; */
    animation: animateleft 0.5s;
}
    @keyframes animateleft
    {from
        {left:-300px; 
        opacity:0}
     to
     {left:0; 
        opacity:1}
 }
 .buttonX {
    border:none;
    padding: 8px 16px;
    text-decoration:none;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    font-size: 21px;
 }
 .favouriteMovie {
     margin-top: 30px;
    border: none;
    display: block;
    width: 100%;
    padding: 20px 0;
 }
 .sidebar h3 {
     text-align: center;
     font-size: 25px;
     color: red;
     height: 30px;
 }
 .favouriteMovie a {
     display: block;
     font-size: 20px;
     letter-spacing: 4px;
     text-decoration: none;
     color: rgb(134, 132, 132);
     height: 70px;
     line-height: 70px;
     text-align: center;
 }
 .favouriteMovie a:nth-child(even){
     background-color: #fff;
 }
 .favouriteMovie a:nth-child(odd){
     background-color: #57606f;
     color: #fff;
 }

.headerSection,
.movieSection {
    background-color: #f1f2f6;
    padding: 3%;
}

.containerPicture {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    max-height: 100vh;
    height: 90vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: 1.5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0;
    position: relative;
}

.box img {
    height: 100%;
    /* width: 400%; */
    object-fit: cover;
    transition: 1.5s;
}

.box span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    color: #fff;
}

.box:hover { 
    flex: 1 1 50%;
}
.box:hover img {
    width: 100%;
    height: 100%;
}

.box:hover span {
    position: absolute;
    bottom: 10px;
    left: 30%;
    font-size: 40px;
    opacity: 0.6;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
}

 .quotesSection {
     height: 100vh;
     background-color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .quotes {
     width: 60%;
     margin: 100px auto; 
     background-color: #57606f;
     padding: 20px 80px;   
     text-align: center;
     box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);  
     height: 70%; 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }


 .quotes p {
     font-size: 30px;
     color: #fff;
     line-height: 40px;
     text-shadow: #2a8d7b -1px -1px;

 }

 .quotes span {
    color: #217969;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: #53b4a2 1px 1px;

 }
.fade-in {
    opacity: 1;
    transition: opacity 250ms ease-in;
}
.someText {
    width: 80%;
    height: 200px;
    margin: 20px auto;
    text-align: center;
    color: #57606f;
}

.someText h1 {
    font-size: 50px;
    letter-spacing: 4px;
}
.someText p {
    margin-top: 15px;
    font-size: 25px;
}
 .noResult {
    font-size: 30px;
    color: #57606f;
    line-height: 40px;
    text-shadow: #2a8d7b -1px -1px;
 }

.searchMovie {
    width: 80%;
    margin: 0 auto; 
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    height: 50px;
    outline: 0;
    border: 1px rgb(134, 132, 132);
    border-radius: 0.2rem;
    font-size: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    text-indent: 20px;
}

.button {
    line-height: 50px;
	height: 50px;
	/* text-align: center; */
	width: 250px;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.5s;
    font-size: 25px;
    background-color: #f1f2f6;
    border-radius: 0.2rem;
    background-color: #fff;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    transition: transform 3s;
}

.button:active {
    transform: translateY(4px);
}

/* movies */

.container {
    margin: 100px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container .movie {
    margin-left: 2%;
    width: 25%;
    height: 450px;
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 2%;
    position: relative;
}


.container .movie .poster {
    width: 100%;
    height: 70%;
    position: relative;
}


.container .movie .poster img {
    width: 100%;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
    height: 100%;
}

.container .movie .poster:hover {
    filter: brightness(40%);
    transition: all 1s ease;
}

.poster:hover .iconHeart {
    opacity: 1;
}

.iconHeart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
  }

 .iconHeart .icon {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .fa-heart {
    transition: transform .5s ease-out;
  }

  .fa-heart:hover {
     transform: scale(1.5);
     color: rgba(255, 0, 0, 0.787);
  }
  
.movieText {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 20px; 
}

.movieText .h1 {
    display: block;
    height: 50%;
}

/* imdb icon */
.movieText a {
    cursor: pointer;
    color: #57606f;
}
.movieText a:hover {
    opacity: 0.8;
}
.fab {
    font-size: 40px;
}
